<div class="container">
  <div class="row justify-content-center">
    <h2 class="col-10 text-center">アプリについて</h2>
    <h3 class="col-7">
      <ul>使用することのできる体育館を探したり時</ul>
      <ul>使用状況を確認したい時</ul>
      <ul>体育館の使用状況やレビューを共有する時</ul>
      <ul>一緒にスポーツする仲間を募集したり探す時</ul>
      <ul>などに使用することを目的として作りました。</ul>
    </h3>
  </di>
</div>