<div class='container'>
  <div class='row'>
    <h1>ユーザー一覧</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>ユーザー</th>
          <th>コメント</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @post_comments.each do |post_comment| %>
          <tr>
            <td><%= image_tag post_comment.user.get_profile_image(100,100) %></td>
            <td><%= post_comment.user.name %></td>
            <td><%= post_comment.comment %></td>
            <td><%= link_to "削除", admin_post_comment_path(post_comment), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
          </tr>  
        <% end %>
      </tbody>
    </table>
  </div>
</div>